

/* Inside the box */

.box {
		width: 96%;
		margin:2%;
		padding-bottom: 96%;
		height: 0;
		position: relative;
		float: left;
		cursor: pointer;
		overflow: hidden;
/*		box-shadow: 0px 3px 18px 1px #fff;*/

}

.box:after {
		content: '';
		position: absolute;
		background-color: #000;
		opacity:0;
		z-index: 55;
		width: 100%;
		height: 100%;
		-webkit-transition: all .15s ease-out;
		-moz-transition: all .15s ease-out;
		-ms-transition: all .15s ease-out;
		-o-transition: all .15s ease-out;
		transition: all .15s ease-out;
}

.box:hover::after {
		background-color: #000;
		opacity:.7;
}

.container .box .caption {
		position: absolute;
		z-index: 60;
		width: 90%;
		margin-left: 5%;
		top: 50%;
		-webkit-transform: scale(3);
		-moz-transform: scale(3);
		-ms-transform: scale(3);
		-o-transform: scale(3);
		transform: scale(3);
		text-align: center;
		-webkit-transition: all .15s ease-out;
		-moz-transition: all .15s ease-out;
		-ms-transition: all .15s ease-out;
		-o-transition: all .15s ease-out;
		transition: all .15s ease-out;
		font: 1.4em normal Arial, sans-serif;
		color: #fff;
		opacity: 0;
}

.box:hover .caption {
		-webkit-transform: scale(1) translate(0%, -50%);
		-moz-transform: scale(1) translate(0%, -50%);
		-ms-transform: scale(1) translate(0%, -50%);
		-o-transform: scale(1) translate(0%, -50%);
		transform: scale(1) translate(0%, -50%);
		opacity: 1;
}

.box img {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: 50;
		-webkit-transition: all .15s ease-out;
		-moz-transition: all .15s ease-out;
		-ms-transition: all .15s ease-out;
		-o-transition: all .15s ease-out;
		transition: all .15s ease-out;
}

.box:hover img {
	height: 150%;
}
/* media changes, changing number of columns */

@media all and (min-width: 350px){
  .container .box{
		width: 48%;
		margin:1%;
		padding-bottom:48%;
	}
}

@media all and (min-width: 800px){
  .container .box{
		width: 31.3333%;
		padding-bottom:30%;
	}
}
@media all and (min-width: 1200px){
  .container .box{
		width: 23%;
		padding-bottom:23%;
	}
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.u-center {
  align-content: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;;
  height: 100%;
}

.skills {
align-items: flex-start;
align-content: flex-start;
  display: -webkit-box;
  display: flex;
          flex-direction: column;
}

.skill {
  margin: 1em 0;
  position: relative;
  width: 22.5em;
}
.skill__type {
  color: #fff;
  font-weight: 300;
  font-size: 0.85rem;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  width: 5em;
}
.skill__outer-bar, .skill__inner-bar {
  height: 0.75em;
}
.skill__outer-bar {
  background: #333;
}
.skill__inner-bar {
  -webkit-animation: fillBar 1s forwards;
          animation: fillBar 1s forwards;
  background: #fff;
  left: 5em;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.skill__inner-bar--100 {
  width: 100%;
}
.skill__inner-bar--90 {
  width: 90%;
}
.skill__inner-bar--80 {
  width: 80%;
}

.skill__inner-bar--70 {
  width: 70%;
}
.skill__inner-bar--60 {
  width: 60%;
}
.skill__inner-bar--50 {
  width: 50%;
}
.skill__inner-bar--40 {
  width: 40%;
}
.skill__inner-bar--30 {
  width: 30%;
}


@-webkit-keyframes fillBar {
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes fillBar {
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}



.masonry {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  max-width: 100%;
}
.masonry-panel {
  overflow: hidden;
  max-height: 100vh;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
* {
  box-sizing: border-box;
}
img {
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
img.loading {
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(#808080), to(#fff));
  background: linear-gradient(90deg, #fff, #808080, #fff);
  background-size: 500% 100%;
  -webkit-animation: load 3s infinite linear;
          animation: load 3s infinite linear;
  margin: 4px 4px 0 4px;
  min-height: 250px;
}
@-webkit-keyframes load {
  from {
    background-position: 500% 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes load {
  from {
    background-position: 500% 0;
  }
  to {
    background-position: 0 0;
  }
}
